$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body, html {
  font: 17px/28px Georgia;
  font-family: Lato, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  height:100%;
}

.text {
  margin: auto 22%;
  max-width: 800px;
  padding-bottom: 20px;
}

p {
  margin-bottom:0px;
  padding:0px;
}

.text-large {
  font-weight: bold;
  font-size: 2em;
}

.section {
  padding-top:40px;
  padding-bottom:0px;
}

.images-container {
  margin-bottom:20px;
}

.image-holder {
  width:30%;
  height:200px;
  float:left;
  margin-left:3%;
  overflow: hidden;
}

.images-container img {
  width:100%;
  height:100%; 
}

#space-images .image-holder {
  width:20%;
  margin-left:3%;
  margin-bottom:3%;
  height:150px;
}

#section-intro {
  min-height: 80%;
  background: url('../images/kat.jpg') no-repeat no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  //-webkit-transition: -webkit-filter 0.5s ease;
  #main-title {
    width: 100%;
    padding-top: 10%;
    text-align: center;
    font-size: 9.5rem;
    line-height: 4rem;
    letter-spacing: .35em;
    text-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 12px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    color: #FFF;
  }
  #main-sub-title {
    color:#FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 7.5rem;
    font-weight:700;
    letter-spacing:0.2em;
    font-size: 2.3rem;
  }
}

#katrina-track-map {
  width:100%;
  position: relative;
  #map-overlay {
    position: absolute;
    left: 0px;
    height: 500px;
    z-index: 100;
    width: 100%;
    box-shadow: inset 0px -76px 89px -5px #FFF;
    pointer-events:none;
  }
  #track-infowin {
    position:absolute;
    top: 200px;
  }
  .track {
    //fill:blue;
    stroke:#444;
    stroke-width:0.7;
    cursor:pointer;
  }
  .track-outer {
    fill:none;
    stroke:#CCC;
    stroke-width:0.4; 
  }
}


.states {
  //fill: #EEE;
  //fill: #09243E;
  fill:#E2E2E2;
  stroke: #999;
  stroke-width:0.5;
  stroke-linejoin: round;
}

.counties {
  fill: #000;
  stroke: #CCC;
  stroke-width:0.5;
  stroke-linejoin: round;
}


#animate-track {
  position: absolute;
  display: none;
  left:40px;
  bottom:95px;
  border:1px solid #DDD;
  border-radius:3px;
  padding:5px;
  color:#999;
  font-size: 0.8em;
  padding-top:3px;
  padding-bottom:3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    color:#000;
    border:1px solid #999;
    cursor: pointer;
  }
}

#county-map-legend {
  .swatch-container {
    width:100%;
    overflow: hidden;
  }
  .legend-swatch {
    float: left;
    width: 35px;
    height: 5px;
  }
  .legend-vals {
    width: 271px;
    font-size: 0.7em;
  }
  .legend-min {
    float:left;
    width:20px;
  }
  .legend-max {
    float:right;
    width:20px;
  }
}


#track-map-legend {
  text-align: right;
  position:relative;
  #track-map-legend-inner {
    position:absolute;
    right:0px;
  }
  .swatch-container {
    width:100%;
    overflow: hidden;
  }
  .legend-swatch {
    width: 20px;
    float: right;
    height: 20px;
    border-radius: 40px;
    border: 1px solid #444;
    margin-left: 4px;
  }
  .legend-vals {
    width: 190px;
    float: right;
    font-size: 0.7em;
  }
  .legend-min {
    float:left;
    width:50px;
  }
  .legend-max {
    float:right;
    width:50px;
  }
}

#major-map-legend {
  .swatch-container {
    width:100%;
    overflow: hidden;
  }
  .legend-swatch {
    float: left;
    width: 45px;
    height: 5px;
  }
  .legend-vals {
    width: 271px;
    font-size: 0.7em;
  }
  .legend-min {
    float:left;
    width:30px;
  }
  .legend-max {
    float:right;
    width:30px;
  }
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


#orleans-pop-chart {
  margin-top:40px;
}

.home-point {
  display: block;
  width:0.5px;
  height:0.5px;
  float:left;
  background:red;
}


.major-states {
  fill: #636B5C;
  stroke:#444;
  stroke-width:0.5;
}

.fill-ocean {
  fill:#ccdddd;
}

.post-footer {
  position: relative;
  margin: 2rem 0 0 0;
  padding: 3rem 0 0 0;
  border-top: #EBF2F6 1px solid;
  margin-bottom:2rem;
  .author-image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
  }
  .author-image .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
  }
  .author {
    margin-right: 180px;
  }
  h4 {
    font-size: 1.1rem;
    margin: 0;
  }
}


//tablet 
@media screen and (max-width: 1300px) {

  #main-title {
    font-size: 7.5rem !important;
    line-height: 2rem;
    color: #FFF;
  }

  #main-sub-title {
    font-size:1.8rem !important;
    line-height: 0.8rem;
  }
  
}



@media screen and (max-width: 900px) {

  #main-title {
    font-size: 4.9rem !important;
    line-height: 2rem;
    color: #FFF;
  }

  #main-sub-title {
    font-size:1.2rem !important;
    line-height: 1.8rem !important;
  }
  
}


//mobile
@media screen and (max-width: 768px) {
  .text {
    margin: auto 10%;
    max-width: 800px;
    padding-bottom: 20px;
  }
}